.containWays {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 45px;
  max-width: 500px !important;
  box-shadow: 0px 4px 0px 0px  var(--Brand) !important;
  margin-top: 114px;
  padding-bottom: 34px;
}
.line {
  margin: 0.5rem;
  font-size: 13px;
  padding: 0rem 1rem;
}
.headOfWay {
  background: rgb(60, 61, 63);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  border: none;
  width: 100%;
  border-radius: 30px;
  margin: 1rem 0;
}
.imagewaylitt {
  margin-left: 6px;
}
.mrtup {
  margin-top: -31%;
  width: 50%;
}
.picMainWay {
  background-color: #ffff;
  border: 2px solid rgb(237, 241, 244);
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.picMainWay1 {
  background: rgb(237, 241, 244);
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.mail {
  width: 100%;
  padding: 1rem;
}
.dot {
  display: none;
}
.line {
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imagewaylitt img {
  width: 11px;
}
.name {
  word-spacing: -2px;
}
a{
  text-decoration: unset !important;
    color: black !important;
}
@media screen and (min-width: 400px) {
  .mrtup {
    width: 41%;
    margin-top: -27%;
  }
}
@media screen and (min-width: 460px) {
  .containWays {
    margin-top: 100px;
  }
}
@media screen and (min-width: 500px) {
  .headOfWay {
    width: 100%;
  }
  .dot {
    display: flex;
    flex-grow: 1;
    border-top: 1px black dotted;
  }
  .line {
    font-size: 14px;
    padding: 0;
    justify-content: center;
  }
  .twopoint {
    display: none;
  }
  .imagewaylitt img {
    width: 12px;
  }
  .name {
    margin-left: 5px;
  }
  .number {
    margin-right: 5px;
  }
  .mail {
    padding: 0.9rem;
  }
  .mrtup {
    width: 30%;
    margin-top: -19%;
  }
}
@media screen and (min-width: 700px) {
  .containWays {
    width: 90%;
    font-size: 1.2rem;
    padding: 2rem 2rem;
    max-width: 475px !important;
    margin-bottom: 27px;
  }
  .picMainWay1 {
    padding: 1rem;
  }
  .mail {
    padding: 3px;
  }
}
@media screen and (min-width: 768px) {
  .mrtup {
    width: 30%;
  }
}
@media screen and (min-width: 800px) {
  .containWays {
    font-size: 1rem;
    padding: 1rem 1rem;
    padding-bottom: 44px;
  }
}
@media screen and (min-width: 992px) {
  .mail {
    padding: 0.9rem;
  }
}
@media screen and (min-width: 1000px) {
  .mail {
    width: 100%;
    padding: 0.8rem;
  }

  .containWays {
    font-size: 1rem;
  }
  .line {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .picMainWay1 {
    padding: 0.5rem;
  }
  .mrtup {
    margin-top: -98px;
    max-width: 127px;
    width: 127px;
  }
  .containWays {
    flex-direction: column;
    border-radius: 40px;
    margin: 6.2rem 0;
    width: 76%;
    padding: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 43px;
  }
  .headOfWay {
    width: 100%;
    border-radius: 30px;
    padding: 0.9rem 1.5rem;
    font-size: 15px;
    font-weight: 900;
  }
  .mail {
    width: 100%;
    padding: 0.8rem;
  }
  .line {
    font-size: 15px;
    justify-content: center;
  }
  .imagewaylitt img {
    width: 13px;
  }
}
@media screen and (min-width: 1400px) {
  .name,
  .number,
  .dot {
    margin: 0px 4px;
  }
  .name {
    margin-left: 10px;
  }
}
